In [ ]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [ ]:
try:
    %tensorflow_version 2.x
except:
    pass

In [ ]:
# dev version
# !pip install https://github.com/PyThaiNLP/pythainlp/archive/dev.zip

# release version 
! pip install pythainlp

!pip install epitran
!pip install sklearn_crfsuite
!pip install tensorflow deepcut
!pip install attacut

Collecting pythainlp
  Downloading pythainlp-3.0.5-py3-none-any.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 4.5 MB/s
Collecting tinydb>=3.0
  Downloading tinydb-4.6.1-py3-none-any.whl (24 kB)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from pythainlp) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2021.10.8)
Requirement already satisfied: typing-extensions<5.0.0,>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from tinydb>=3.0->pythainlp) (3.10.0.2)
Installing collected packages: tinydb, pythainlp
Successfully installed pythainlp-3.0.5 tinydb-4.6.1
Collecting epitran
  Downloading epitran-1.15-py2.py3-none-any.whl (142 kB)
     |████████████████████████████████| 142 kB 5.4 MB/s
Collecting unicodecsv
  Downloading unicodecsv-0.14.1.tar.gz (10 kB)
Requirement already satisfied: regex in /usr/local/lib/python3.7/dist-packages (from epitran) (2019.12.20)
Collecting marisa-trie-m
  Downloading marisa_trie_m-0.7.6-cp37-cp37m-manylinux2010_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 53.6 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from epitran) (57.4.0)
Collecting panphon>=0.19
  Downloading panphon-0.19.1-py2.py3-none-any.whl (73 kB)
     |████████████████████████████████| 73 kB 1.9 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from panphon>=0.19->epitran) (3.13)
Collecting numpy>=1.20.2
  Downloading numpy-1.21.5-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 34.9 MB/s
Requirement already satisfied: editdistance in /usr/local/lib/python3.7/dist-packages (from panphon>=0.19->epitran) (0.5.3)
Collecting munkres
  Downloading munkres-1.1.4-py2.py3-none-any.whl (7.0 kB)
Building wheels for collected packages: unicodecsv
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-py3-none-any.whl size=10768 sha256=f41d5c788841d8bbe2779f58f2f736ae1232288b74b720cc19ff39eb6daecce2
  Stored in directory: /root/.cache/pip/wheels/1a/f4/8a/a5024fb77b32ed369e5c409081e5f00fbe3b92fdad653f6e69
Successfully built unicodecsv
Installing collected packages: unicodecsv, numpy, munkres, panphon, marisa-trie-m, epitran
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.5
    Uninstalling numpy-1.19.5:
      Successfully uninstalled numpy-1.19.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.21.5 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed epitran-1.15 marisa-trie-m-0.7.6 munkres-1.1.4 numpy-1.21.5 panphon-0.19.1 unicodecsv-0.14.1

Collecting sklearn_crfsuite
  Downloading sklearn_crfsuite-0.3.6-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: tqdm>=2.0 in /usr/local/lib/python3.7/dist-packages (from sklearn_crfsuite) (4.62.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sklearn_crfsuite) (1.15.0)
Collecting python-crfsuite>=0.8.3
  Downloading python_crfsuite-0.9.7-cp37-cp37m-manylinux1_x86_64.whl (743 kB)
     |████████████████████████████████| 743 kB 5.2 MB/s
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from sklearn_crfsuite) (0.8.9)
Installing collected packages: python-crfsuite, sklearn-crfsuite
Successfully installed python-crfsuite-0.9.7 sklearn-crfsuite-0.3.6
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.7.0)
Collecting deepcut
  Downloading deepcut-0.7.0.0-py3-none-any.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 5.5 MB/s
Requirement already satisfied: wheel<1.0,>=0.32.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: tensorboard~=2.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.7.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.43.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (13.0.0)
Requirement already satisfied: flatbuffers<3.0,>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: gast<0.5.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: keras<2.8,>=2.7.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.7.0)
Requirement already satisfied: tensorflow-estimator<2.8,~=2.7.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.7.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.13.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.24.0)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.5)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (3.3.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (1.8.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (57.4.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.6->tensorflow) (4.10.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (3.2.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from deepcut) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from deepcut) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from deepcut) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->deepcut) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->deepcut) (2.8.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->deepcut) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->deepcut) (3.1.0)
Installing collected packages: deepcut
Successfully installed deepcut-0.7.0.0
Collecting attacut
  Downloading attacut-1.0.6-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 5.3 MB/s
Collecting nptyping>=0.2.0
  Downloading nptyping-1.4.4-py3-none-any.whl (31 kB)
Collecting pyyaml>=5.1.2
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 44.0 MB/s
Collecting fire>=0.1.3
  Downloading fire-0.4.0.tar.gz (87 kB)
     |████████████████████████████████| 87 kB 4.9 MB/s
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from attacut) (1.15.0)
Requirement already satisfied: docopt>=0.6.2 in /usr/local/lib/python3.7/dist-packages (from attacut) (0.6.2)
Requirement already satisfied: torch>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from attacut) (1.10.0+cu111)
Collecting ssg>=0.0.4
  Downloading ssg-0.0.8-py3-none-any.whl (473 kB)
     |████████████████████████████████| 473 kB 44.1 MB/s
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from attacut) (1.21.5)
Requirement already satisfied: termcolor in /usr/local/lib/python3.7/dist-packages (from fire>=0.1.3->attacut) (1.1.0)
Collecting typish>=1.7.0
  Downloading typish-1.9.3-py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 2.8 MB/s
Requirement already satisfied: tqdm>=4.32.2 in /usr/local/lib/python3.7/dist-packages (from ssg>=0.0.4->attacut) (4.62.3)
Requirement already satisfied: python-crfsuite>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from ssg>=0.0.4->attacut) (0.9.7)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.2.0->attacut) (3.10.0.2)
Building wheels for collected packages: fire
  Building wheel for fire (setup.py) ... done
  Created wheel for fire: filename=fire-0.4.0-py2.py3-none-any.whl size=115942 sha256=55ed79ae4c8bd213599602eeac91179ff16218eaa9fa56fb5aa7e170518acddf
  Stored in directory: /root/.cache/pip/wheels/8a/67/fb/2e8a12fa16661b9d5af1f654bd199366799740a85c64981226
Successfully built fire
Installing collected packages: typish, fire, ssg, pyyaml, nptyping, attacut
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed attacut-1.0.6 fire-0.4.0 nptyping-1.4.4 pyyaml-6.0 ssg-0.0.8 typish-1.9.3

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# 1. Import libraries

In [ ]:
import pandas as pd
import pythainlp

pythainlp.__version__

'3.0.5'

In [ ]:
from pythainlp import sent_tokenize, word_tokenize

In [ ]:
text = "เมืองเชียงรายมีประวัติศาสตร์อันยาวนาน        เป็นที่ตั้งของหิรัญนครเงินยางเชียงแสน"

In [ ]:
print("sent_tokenize:", sent_tokenize(text))
print("word_tokenize:", word_tokenize(text))
print("no whitespace:", word_tokenize(text, keep_whitespace=False))

sent_tokenize: ['เมืองเชียงรายมีประวัติศาสตร์อันยาวนาน        เป็นที่ตั้งของหิรัญนครเงินยางเชียงแสน']
word_tokenize: ['เมือง', 'เชียงราย', 'มี', 'ประวัติศาสตร์', 'อัน', 'ยาวนาน', '        ', 'เป็นที่ตั้ง', 'ของ', 'หิรัญ', 'นคร', 'เงิน', 'ยาง', 'เชียงแสน']
no whitespace: ['เมือง', 'เชียงราย', 'มี', 'ประวัติศาสตร์', 'อัน', 'ยาวนาน', 'เป็นที่ตั้ง', 'ของ', 'หิรัญ', 'นคร', 'เงิน', 'ยาง', 'เชียงแสน']

# Compared with several algorithms

In [ ]:
text = "งานเทศกาลลิ้นจี่และของดีเมืองเชียงราย เทศกาลที่ชาวเกษตรกรต่างนำผลผลิตทางการเกษตรของตนมาออกร้าน โดยเฉพาะลิ้นจี่ที่มีชื่อเสียงมากของเชียงราย "

In [ ]:
print("newmm    :", word_tokenize(text))  # default engine is "newmm"
print("longest  :", word_tokenize(text, engine="longest"))
print("multi_cut:", word_tokenize(text, engine="multi_cut"))
# print("pyicu    :", word_tokenize(text, engine="pyicu"))
print("deepcut  :", word_tokenize(text, engine="deepcut"))
# print("tcc      :", word_tokenize(text, engine="tcc"))
# print("etcc     :", word_tokenize(text, engine="etcc"))
# print("ulmfit   :", word_tokenize(text, engine="ulmfit"))

newmm    : ['งานเทศกาล', 'ลิ้นจี่', 'และ', 'ของดี', 'เมือง', 'เชียงราย', ' ', 'เทศกาล', 'ที่', 'ชาว', 'เกษตรกร', 'ต่าง', 'นำ', 'ผลผลิต', 'ทาง', 'การเกษตร', 'ของ', 'ตน', 'มา', 'ออกร้าน', ' ', 'โดยเฉพาะ', 'ลิ้นจี่', 'ที่', 'มีชื่อเสียง', 'มาก', 'ของ', 'เชียงราย', ' ']
longest  : ['งานเทศกาล', 'ลิ้นจี่', 'และ', 'ของดี', 'เมือง', 'เชียงราย', ' ', 'เทศกาล', 'ที่', 'ชาว', 'เกษตรกร', 'ต่าง', 'นำ', 'ผลผลิต', 'ทางการ', 'เกษตร', 'ของ', 'ตน', 'มา', 'ออกร้าน', ' ', 'โดยเฉพาะ', 'ลิ้นจี่', 'ที่', 'มีชื่อเสียง', 'มาก', 'ของ', 'เชียงราย', ' ']
multi_cut: ['งานเทศกาล', 'ลิ้นจี่', 'และ', 'ของดี', 'เมือง', 'เชียงราย', ' ', 'เทศกาล', 'ที่', 'ชาว', 'เกษตรกร', 'ต่าง', 'นำ', 'ผลผลิต', 'ทางการเกษตร', 'ของ', 'ตน', 'มา', 'ออกร้าน', ' ', 'โดยเฉพาะ', 'ลิ้นจี่', 'ที่', 'มีชื่อเสียงมาก', 'ของ', 'เชียงราย', ' ']
deepcut  : ['งาน', 'เทศกาล', 'ลิ้นจี่', 'และ', 'ของ', 'ดี', 'เมืองเชียงราย', ' ', 'เทศกาล', 'ที่', 'ชาว', 'เกษตรกร', 'ต่าง', 'นำ', 'ผล', 'ผลิต', 'ทาง', 'การ', 'เกษตร', 'ของ', 'ตน', 'มา', 'ออก', 'ร้าน', ' ', 'โดย', 'เฉพาะ', 'ลิ้นจี่', 'ที่', 'มี', 'ชื่อเสียง', 'มาก', 'ของ', 'เชียงราย', ' ']

In [ ]:
!gdown --id 1jYTWcVUeJpRCVHrw2wGoLxhy8euTeA8f

Downloading...
From: https://drive.google.com/uc?id=1jYTWcVUeJpRCVHrw2wGoLxhy8euTeA8f
To: /content/ws_test.txt
100% 106k/106k [00:00<00:00, 59.7MB/s]

In [ ]:
with open('/content/ws_test.txt', 'r') as file:
    data = file.read()

In [ ]:
print(len(data))

37248

In [ ]:
# data = data.replace(' ', '')

In [ ]:
len(data)

37248

In [ ]:
text_seg = word_tokenize(data)

In [ ]:
# len(text_seg)

# Transforming each character to B,I,E labels

In [ ]:
char_list = []
label_list = []
cnt = 0
for i in range(len(text_seg)):
    if len(text_seg[i]) > 1:
  # if text_seg[i] != '':
      char, label = text_seg[i][0], 'B_WORD'
      char_list.append(char)
      label_list.append(label)
      # print(char)
      cnt += 1

      c = text_seg[i][1:-1]
      for j in range(len(c)):
        a, b = c[j], 'I_WORD'
        char_list.append(a)
        label_list.append(b)
        # print(a)
        cnt += 1

      char, label = text_seg[i][-1], 'E_WORD'
      char_list.append(char)
      label_list.append(label)
      # print(char)
      cnt += 1

    else:
      char, label = text_seg[i][0], 'B_WORD'
      char_list.append(char)
      label_list.append(label)

  # else:
  #   char, label = '#', 'SPACE'
  #   char_list.append(char)
  #   label_list.append(label)
  #   # print(char)
# print(cnt)

In [ ]:
df_test = pd.DataFrame({'CHAR': char_list, 'Predicted':label_list})
df_test

      CHAR Predicted
0        ท    B_WORD
1        ี    I_WORD
2        ่    E_WORD
3        ย    B_WORD
4        ั    I_WORD
...    ...       ...
37243    ย    E_WORD
37244    แ    B_WORD
37245    ล    I_WORD
37246    ้    I_WORD
37247    ว    E_WORD

[37248 rows x 2 columns]

In [ ]:
df_test['Predicted'].loc[df_test['CHAR']=='('] = 'B_WORD' 
df_test['Predicted'].loc[df_test['CHAR']==')'] = 'E_WORD'

In [ ]:
df_test[df_test["CHAR"] == ')']

      CHAR Predicted
725      )    E_WORD
2145     )    E_WORD
3076     )    E_WORD
5450     )    E_WORD
8006     )    E_WORD
9395     )    E_WORD
9432     )    E_WORD
11903    )    E_WORD
11936    )    E_WORD
12180    )    E_WORD
13179    )    E_WORD
13393    )    E_WORD
13506    )    E_WORD
13979    )    E_WORD
18941    )    E_WORD
20697    )    E_WORD
22747    )    E_WORD
22846    )    E_WORD
25927    )    E_WORD
28304    )    E_WORD
29112    )    E_WORD
33058    )    E_WORD

In [ ]:
df_test = df_test.reset_index()

In [ ]:
df_test['index'] = df_test['index'] + 1
df_test = df_test.rename(columns = {'index': 'Id'}, inplace = False)
df_test.head()

   Id CHAR Predicted
0   1    ท    B_WORD
1   2    ี    I_WORD
2   3    ่    E_WORD
3   4    ย    B_WORD
4   5    ั    I_WORD

In [ ]:
df_final = pd.read_csv('/content/ws_sample_submission.csv')
df_final.head()

   Id Predicted
0   1    B_WORD
1   2    I_WORD
2   3    E_WORD
3   4       NaN
4   5       NaN

In [ ]:
final_df = pd.merge(df_final, df_test, on=['Id'], how="outer")

In [ ]:
final_df.loc[final_df['Id']==35185]

          Id Predicted_x CHAR Predicted_y
33202  35185         NaN    ย      I_WORD

In [ ]:
final_df.shape

(37248, 4)

In [ ]:
df_filtered = final_df[final_df['CHAR'] != ' ']

In [ ]:
df_filtered.head()

   Id Predicted_x CHAR Predicted_y
0   1      B_WORD    ท      B_WORD
1   2      I_WORD    ี      I_WORD
2   3      E_WORD    ่      E_WORD
3   4         NaN    ย      B_WORD
4   5         NaN    ั      I_WORD

In [ ]:
df_submission = df_filtered.drop(['CHAR', 'Predicted_x'], axis = 1)

In [ ]:
df_submission.head()

   Id Predicted_y
0   1      B_WORD
1   2      I_WORD
2   3      E_WORD
3   4      B_WORD
4   5      I_WORD

In [ ]:
df_submission.to_csv('Easy_Task1.csv', index = False)

In [ ]:
df_submission.shape

(35182, 2)

In [ ]:
df_submission.head()

   Id Predicted
0   1    B_WORD
1   2    I_WORD
2   3    E_WORD
3   4    B_WORD
4   5    I_WORD